services:
  # ------------------------------------------------------------------
  # 1. PostgreSQL Database
  # ------------------------------------------------------------------
  postgres:
      container_name: PostgreSQL
      networks:
        - bc_network
      image: postgres:latest
      ports:
        - "${POSTGRES_PORT}:5432"
      volumes:
        - ./data/postgres:/var/lib/postgresql
      environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}
      restart: always
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
        interval: 5s
        timeout: 5s
        retries: 3

networks:
  bc_network: